form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }
  
  label {
    grid-column: 1 / 2;
    align-self: center;
    color:black;
  }
  
  input {
    grid-column: 2 / 3;
  }